@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  font-family: 'Montserrat', Arial, sans-serif;
  text-shadow: 1px solid black;
  font-size: 20px;
  line-height: 1.3em;

  background-color: #1F1F1F;
  color: #ddd;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  margin: auto 250px; 
}

a {
  text-decoration: none;
}

h1 {
  font-size: 2em;
}
