---
import { Image } from 'astro:assets';

import Base from '../layouts/Base.astro';
---

<Base titlePage="Sobre">
  
  <h1>Sobre</h1>

  <Image
  src="/me.jpg" alt="Meu rosto não-tão bonito" 
  loading="eager"
  height={200} width={200}
  style="float: right; border-radius: 10px; margin-left: 15px;"
  />

  <p>Me chamo João Pedro e sou estudante de ciência da computação na <a href="https://portal.unifesp.br/">UNIFESP</a>(Universidade Federal de São Paulo). No tempo livre, gosto de estudar música, ler livros de filosofia/teologia, aprender novos idiomas(atualmente espanhol) e passar tempo com meu cachorro, principalmente fazendo exercícios de adestramento.</p>
  <p>Atualmente programo em R e Python ao realizar tarefas de estatística, ciência de dados e IA, e C++,typescript e dart para desenvolver aplicações e escrever CLI's que utilizo em meu computador.</p>
  <p>No momento, estou à procura de um programa de estágio em desenvolvimento de software ou dados, mas também posso trabalhar como freelancer. Se você deseja entrar em contato, me chame na DM do LinkedIn ou envie um email para oliveira.joao@unifesp.br, te responderei assim que possível.</p>

</Base>

<style>
a {
  text-decoration: underline;
}

p {
  text-align: justify;
}
</style>
