---
import Base from '../layouts/Base.astro';
---

<Base titlePage="About me">
  
  <h1>About me</h1>

  <img src="me.jpg" alt="My not so beauty face">

  <p>I'm João Pedro, a brazilian computer science student at UNIFESP(Federal University of São Paulo), looking for an internship and who likes to code in C++ and python, ocasionally making things for the university, creating CLIs for my personal use and other stuff just to make my brain work. In the free time, I like to read philosophy and theology books, learn new languages and do some dog training with my, well, my dog.</p>
  <p>Do you want to contact me? Please send a email at oliveira.joao@unifesp.br or DM me at LinkedIn, I'll respond you as soon as possible.</p>
</Base>

<style>
  h1 {
    margin-bottom: 30px;
  }

  img {
    padding-left: 20px;
    width: 15vw;
    border-radius: 200px;
    position: float;
    float: right;
  }
  
  p {
    margin: 15px;
  }
</style>
