---
import { Image } from 'astro:assets';

import Base from '../layouts/Base.astro';
---

<Base titlePage="Home">

  <section id="hero">
    <div>
      <h1>Olá! Eu sou o João</h1>
      <span>Um artesão de software do século 21.</span>
    </div>

    <Image src="/svg/ink.svg" alt="Um pote de tinta" width={150} height={150} />
  </section>
</Base>

<style>

#hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 100vh;
}

div {
    text-align: justify;
}

h1 {
  margin: 0;
  font-size: 4rem;
}

span {
  font-family: "Corinthia", cursive;
  font-size: 3rem;
}

.zip {
  font-family: "Inter", serif;
  font-size: 2rem;
}
</style>
