---
import Base from '../layouts/Base.astro';

import '../styles/slide-animation.css';
---

<Base titlePage="Home">

  <div class="slide-in-blurred-right">
    <h1>Hi, I'm João</h1>
    <span>A computer science student who is trying not to be killed by his machine</span>
  </div>

</Base>

<style>
  h1 {
    font-size: 2.9em;
  }
</style>
