---
import Base from '../layouts/Base.astro';
---

<Base titlePage="Home">

  <div class="outer-div">
    <h1>Hello! I'm João, a CS student</h1>
      <span id='text'></span><div class='console-underscore' id='console'>&#95;</div>
  </div>

  <script src="../scripts/consoleText.js"></script>
</Base>

<style>
  .outer-div {
    margin: 80px auto;
  }

  h1 {
    font-size: 2rem;
  }

  .hidden {
    opacity:0;
  }

  .console-underscore {
    display:inline-block;
    position:relative;
    top:-0.14em;
    left:10px;
  }
</style>
