---
const univProjects = await Astro.glob('./projects/univ/*.md');
const personalProjects = await Astro.glob('./projects/personal/*.md');

import Base from '../layouts/Base.astro';
import ProjectCard from '../components/ProjectCard.astro';
---

<Base titlePage="Projetos">

  <h1>Projetos</h1>

  <p>Aqui eu mostro projetos que participo ou escrevo na faculdade, assim como algumas coisas que escrevo no tempo livre.</p>

  <h2>Projetos da Faculdade</h2>
  <ul>
    { univProjects.map(project => <li><a href={ project.url }><ProjectCard frontmatter={ project.frontmatter } /></a></li>) }
  </ul>

  <h2>Projetos Pessoais</h2>
  <ul>
    { personalProjects.map(project => <li><a href={ project.url }><ProjectCard frontmatter={ project.frontmatter } /></a></li>) }
  </ul>

</Base>

<style>
ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(100px, auto);
  grid-column-gap: 10px;
  grid-row-gap: 1em;
}
</style>
