---
const univProjects = await Astro.glob('./projects/univ/*.md');
const personalProjects = await Astro.glob('./projects/personal/*.md');

import Base from '../layouts/Base.astro';
import ProjectCard from '../components/ProjectCard.astro';
---

<Base titlePage="Projects">

  <h1>Projects</h1>

  <p>Here I show some university projects that I'm engaged and some personal stuff that I create in the free time.</p>

  <h2>University Projects</h2>
  <ul>
    { univProjects.map(project => <li><a href={ project.url }><ProjectCard frontmatter={ project.frontmatter } /></a></li>) }
  </ul>

  <h2>Personal Projects</h2>
  <ul>
    { personalProjects.map(project => <li><a href={ project.url }><ProjectCard frontmatter={ project.frontmatter } /></a></li>) }
  </ul>

</Base>

<style>
ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(100px, auto);
  grid-column-gap: 10px;
  grid-row-gap: 1em;
}
</style>
