---
import Social from "./Social.astro";
import { useTranslations, type Lang } from '../i18n/utils';

const { lang = 'pt' } = Astro.props;
const t = useTranslations(lang as Lang);
---

<footer>
  <Social lang={lang} />
  <span>joao-zip &copy; { new Date().getFullYear() }</span>
  <span>{t('footer.built_with')}</span>
</footer>

<style>
footer {
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
</style>
