<footer>
  <span>joao-zip &copy; { new Date().getFullYear() }</span>
  <span>Created with Astro</span>
</footer>

<style>
  footer {
    text-align: center;
    margin: 40px;
    display: flex;
    flex-direction: column;
  }
</style>
