<header>
  <nav>
    <a href="/">Home</a>
    <a href="/aboutme">About Me</a>
    <a href="/projects">Projects</a>
    <a href="https://github.com/joao-zip" target="_blank"><i class="fa-solid fa-github"></i></a>
  </nav>
</header>

<style>
  header {
    margin: 20px;
    display: flex;
    justify-content: space-around;
  }

  nav {
    width: 40vw;
    display: flex;
    justify-content: space-around;
    padding: 20px;
  }

  a:hover {
    text-shadow: 2px 2px 5px black;
    font-style: italic;
  }

  i {
    font-size: 1.6rem;
  }

  i:hover {
    color: #fff;
  }
</style>
