<header>
  <nav>
    <a href="/">Home</a>
    <a href="/aboutme">About Me</a>
    <a href="/projects">Projects</a>
  </nav>
</header>

<style>
  header {
    margin: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem;
  }

  nav {
    width: 40vw;
    display: flex;
    justify-content: space-around;
    gap: 0.5rem;
  }

  a {
    font-size: 1.2rem;
  }

  a:hover {
    text-shadow: 1px 1px 15px #111;
  }
</style>
