---
import { useTranslations, type Lang } from '../i18n/utils';

const { lang = 'pt' } = Astro.props;
const t = useTranslations(lang as Lang);
---

<ul>
  <li><a href="https://github.com/joao-zip" target="_blank"><img class="github" src="/svg/github.svg" alt={t('social.github_alt')}></a></li>
  <li><a href="mailto:oliveira.joao@unifesp.br" target="_blank"><img src="/svg/gmail.svg" alt={t('social.gmail_alt')}></a></li>
  <li><a href="https://linkedin.com/in/joao-zip" target="_blank"><img src="/svg/linkedin.svg" alt={t('social.linkedin_alt')}></a></li>
</ul>

<style>
ul {
  display: flex;
  align-items: center;
  padding: 0px;
  margin: 0px;
}

li {
  margin: 0px;
  padding: 0px;
}
</style>
