<ul>
  <li><a href="https://github.com/joao-zip" target="_blank"><img class="github" src="/svg/github.svg" alt="Logo do Github"></a></li>
  <li><a href="mailto:oliveira.joao@unifesp.br" target="_blank"><img src="/svg/gmail.svg" alt="Logo do Gmail"></a></li>
  <li><a href="https://linkedin.com/in/joao-zip" target="_blank"><img src="/svg/linkedin.svg" alt="Logo do LinkedIn"></a></li>
</ul>

<style>
ul {
  display: flex;
  align-items: center;
  padding: 0px;
  margin: 0px;
}

li {
  margin: 0px;
  padding: 0px;
}
</style>
