<ul>
  <li><a href="https://github.com/joao-zip" target="_blank"><img class="github" src="/svg/github.svg" alt="Github logo"></a></li>
  <li><a href="mailto:oliveira.joao@unifesp.br" target="_blank"><img src="/svg/gmail.svg" alt="Gmail logo"></a></li>
  <li><a href="https://linkedin.com/in/joao-zip" target="_blank"><img src="/svg/linkedin.svg" alt="LinkedIn logo"></a></li>
</ul>
