---
import { Image } from 'astro:assets';
const { frontmatter } = Astro.props;

import Base from './Base.astro';
---

<Base titlePage={ frontmatter.title }>

  <h1>{ frontmatter.title }</h1>

  <Image
  src={frontmatter.img} alt="Project logo" 
  loading="lazy"
  height={220} width={220}
  style="float: right; margin: 15px;"
  />

  <slot />

  <div>
    <a href={ frontmatter.site } target="_blank">Site</a>
    <a href={ frontmatter.github } target="_blank">Repo</a>
  </div>

</Base>

<style>

div {
  display: flex;
  justify-content: space-evenly;
}

a {
  padding: 10px;
  border: 1px solid rgba(0,0,0,0.5);
  border-radius: 10px;
  box-shadow: 1px 1px 3px var(--dark-brown);
}
</style>
