---
import { Image } from 'astro:assets';
const { frontmatter } = Astro.props;

import Base from './Base.astro';
---

<Base titlePage={ frontmatter.title }>

  <h1>{ frontmatter.title }</h1>

  <Image
  src={frontmatter.img} alt="Project logo" 
  loading="lazy"
  height={220} width={220}
  style="float: right; margin: 15px;"
  />

  <slot />

  <div>
    <a href={ frontmatter.github } target="_blank">Github Repo</a>
    <a href={ frontmatter.site } target="_blank">Site</a>
  </div>

</Base>

<style>
  div {
    display: flex;
    justify-content: space-evenly;
  }

  a {
    padding: 10px;
    border: 1px solid #044D42;
    border-radius: 5px;
    box-shadow: 1px 1px 5px black;
  }
</style>
